.card2Img{
    height: 300px;
    width: 300px;
   


transition: transform .2s;

transition : all ease-in-out 0.2s;  

    transform-origin:bottom;






}

.card2Img:hover{
    transform: scale(1.1);
}

.Card2{
    background-color: white;
    background-color: white;
    overflow: hidden;
    box-shadow: 1px 3px 10px  #888888;
    border-radius: 10px;
    margin-top: 3rem;
    cursor: pointer;
    position: relative;
}

.tagging2{

font-size: 15px;
    position: absolute;
    color: white;
    background-color: #1B90F8;
    padding: 0.3rem 0.4rem;
    left: 10px;
    bottom: 65px;
    border-radius: 3px;
    font-size: 12px;



}

.card2desc{
    font-size: 14px;
    padding: .5rem;
}